
body {
  margin: 0;
}

.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 92%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 3%;
}

.ham {
  height: 2px;
  width: 20px;
  background-color: black;
  margin-bottom: 4px;
  border-radius: 1px;
  cursor: pointer;
}

.hamburger-btn {
  cursor: pointer;
}

main {
  text-align: center;
  background: url(../img/background.svg);
  background-position: center top;
  background-size: contain;
  background-repeat: no-repeat;
  padding-top: 10%;
}

.welcome {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

h2 {
  color: rgb(63, 176, 107);
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  line-height: 52px;
  font-weight: 700;
  margin-bottom: 3%;
  font-style: normal;
  text-align: center;
}

.primary-header {
  color: rgba(23, 43, 77, 1);
}

.secondary-header {
  color: rgb(63, 176, 107);
}

.promo {
  font-family: 'Inter', sans-serif;
  color: rgba(23, 43, 77, 1);
  font-size: 18px;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  line-height: 28px;
  font-weight: 400;
  margin-bottom: 10px;
  text-align: center;
}

footer {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  height: 30px;
  margin-top: 0;
  margin-bottom: 40px;
}

.links {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 80%;
  margin-right: auto;
  margin-left: 0;
  margin-top: 15%;
  height: 100%;
  margin-bottom: 10%;
}

.icons {
  width: 20px;
  padding: 0;
  margin: 0;
  fill: #505f79;
  transition: all 500ms ease-in-out;
}

.icons:hover {
  transform: translate(0, 5px);
  transition: all 500ms ease-in-out;
}

.angel:hover {
  fill: rgb(210, 208, 208);
  padding: 5px;
  border-radius: 5px;
  background-color: rgb(35, 33, 33);
}

.git:hover {
  background-color: purple;
  fill: white;
  padding: 5px;
  border-radius: 5px;
}

.linked:hover {
  background-color: #0077b5;
  fill: white;
  padding: 5px;
  border-radius: 5px;
}

.medium:hover {
  background-color: rgb(45, 42, 42);
  fill: rgb(205, 232, 213);
  padding: 5px;
  border-radius: 5px;
}

.twitter:hover {
  background-color: #1da1f2;
  fill: white;
  padding: 5px;
  width: 30px;
  border-radius: 5px;
}

ul {
  list-style-type: none;
}

.arrow-down {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
}

.work-section-header {
  color: rgba(23, 43, 77, 1);
  width: 90%;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
}

.indicator {
  width: 48px;
  height: 4px;
  border-radius: 24px;
  background: rgba(54, 179, 126, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.image-placeholder {
  width: 327px;
  height: 474px;
  border-radius: 8px;
  background: rgba(235, 240, 238, 1);
  border: 1px solid rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 60px;
}

.text-placeholder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 327px;
  height: 222px;
  border-radius: 8px;
  background: white;
  border-top: 1px solid rgba(208, 217, 212, 1);
  border-bottom: 1px solid rgba(208, 217, 212, 1);
  margin-left: auto;
  margin-right: auto;
  margin-top: 252px;
}

.project-title {
  width: 295px;
  height: 57px;
  font-family: 'Inter', sans-serif;
  color: rgba(58, 74, 66, 1);
  font-weight: 600;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  margin: 0;
}

.tag-buttons {
  border-radius: 4px;
  display: inline;
  margin-bottom: 10px;
  background: rgba(235, 240, 238, 1);
  padding-top: 8px;
  padding-right: 12px;
  padding-bottom: 8px;
  padding-left: 12px;
  font-family: 'Inter', sans-serif;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.enable-button {
  width: 122px;
  border-radius: 4px;
  padding: 8px;
  background: rgba(54, 179, 127, 1);
  align-items: center;
  color: white;
  font-family: 'Inter', sans-serif;
  margin-top: 5px;
  text-decoration: none;
}

.see-projects {
  text-decoration: none;
  text-align: center;
  margin-top: 5px;
  font-family: 'Inter', sans-serif;
}

.about-me {
  background: url(../img/mask-group.png), url(../img/group.png);
  background-position: right top, left bottom;
  background-repeat: no-repeat, no-repeat;
  padding-top: 1px;
  padding-bottom: 0.5px;
}

.about-me-header {
  margin-top: 70px;
}

.resume-button {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 20px;
}

.skills {
  height: 352px;
  margin-top: 100px;
  margin-bottom: 0;
}

.skills-icon {
  margin-top: 50px;
  margin-bottom: 0;
}

.skills-text {
  text-align: center;
  width: 337px;
  height: 32px;
  color: rgba(52, 69, 99, 1);
  font-weight: 600;
  margin-top: 5px;
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-style: normal;
}

.skill-buttons {
  background: rgba(255, 255, 255, 1);
  color: rgba(54, 179, 126, 1);
  margin-left: 5px;
}

.skillz {
  margin-top: 20px;
}

.skill-tag {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 30%;
}

content {
  width: 320px;
  height: 363px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: rgba(23, 43, 77, 1);
  margin-top: 50px;
}

.forms {
  background: url(../img/Frame.png);
  background-position: right 100%;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 30px;
  margin-bottom: 0;
}

input:focus {
  outline: none;
}

.forms1 {
  display: block;
  width: 327px;
  height: 48px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 1);
  border: 1px solid rgba(208, 217, 212, 1);
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.forms2 {
  height: 114px;
  border: 1px solid rgba(96, 192, 149, 1);
  margin-bottom: 30px;
}

.forms2:focus {
  outline: none;
}

::placeholder {
  width: 295px;
  height: 18px;
  top: 15px;
  left: 16px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: rgba(107, 119, 140, 1);
}

textarea {
  color: rgba(9, 30, 66, 1);
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
}

.get-in-touch {
  border: none;
  outline: none;
  width: 129px;
  height: 48px;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  line-height: 24px;
}

.foot-form {
  margin-top: 0;
}

.e-mail {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0;
  text-align: center;
  height: 189px;
  width: 375px;
  color: rgba(66, 82, 110, 1);
  margin-bottom: 200px;
  text-decoration: none;
}

.swipe {
  margin-top: 400px;
  margin-bottom: 5px;
  width: 200px;
  height: 4px;
  background-color: black;
  margin-left: auto;
  margin-right: auto;
  border-radius: 3px;
}
